.home-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home-category {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}