.todo-create {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 30px;
}

.todo-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
}

.todo-button {
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    color: #fff;
    background-color: darkorange;
    font-weight: 600;
    cursor: pointer;
}