.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.price {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: goldenrod;
}

.cart-button {
    margin-top: 25px;
    border: none;
    padding: 10px;
    background-color: chocolate;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}