.image {
    width: 150px;
    height: 250px;
}

.card {
    width: 200px;
    height: 420px;
    box-shadow: 4px 4px 3px lightblue;
    border-radius: 10px;
    margin: 15px;
}

.card:hover {
    box-shadow: 1px 4px 3px rgb(62, 63, 63);
    transition: all 0.6s;
    cursor: pointer;
}

.detail-button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: darkred;
    color: #fff;
}

.detail-button:hover {
    cursor: pointer;
    background-color: darkseagreen;
    transition: all 0.4s;
}